.tabel1 {
    background-color: rgb(214, 255, 152);
}

.tabel2 {
    background-color: rgb(169, 245, 248);
}

.tabel3 {
    background-color: rgb(142, 215, 238);
}

.header {
    background-color: rgb(212, 211, 211);
}